@import "reset.css";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

.section_width {
  min-width: 300px;
}

#main_screen {
  display: flex;
  column-count: 3;
  height: 100vh;
}

/* 노트 리스트(왼쪽 열) */
#note_list {
  position: relative;
  padding-top: 80px;
  background-color: rgb(164, 164, 200);
  border-right: 5px solid black;
}

#logo {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 20px;
  margin: 10px;
  font-weight: 800;
  font-size: 32px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.note_list_box {
  padding: 10px;
  margin: 0px 15px;
}

.note_list_division {
  display: flex;
  justify-content: start;
  color: rgb(40, 40, 40);
  font-weight: 700;
}

.note_list_button {
  border: none;
  background-color: inherit;
  width: 30px;
}

.division_note_list {
  padding: 5px 0px;
}

#new_note {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
}

#new_note_button {
  background-color: inherit;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  padding: 10px;
  font-size: 16px;
}

#note_list #note_list_casement {
  position: absolute;
  right: 0px;
  top: 0%;
  z-index: 9;
  padding: 20px;
  font-size: 26px;
}

/* 선택된 노트 화면(가운데 열) */
#note_view {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: darkgrey;
  height: 100%;
}

#seleted_note_title {
  font-size: 24px;
  font-weight: 500;
}

#text_list_container {
  flex: 1;
  background-color: aliceblue;
}

#new_text_form {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  margin: 20px 20px;
  z-index: 5;
}
#new_text_form input {
  flex: 1;
  border: none;
  font-size: 20px;
}
#new_text_form button {
  border: none;
  background-color: inherit;
  padding: 10px;
}

/* 선택된 노트 타임라인(오른쪽 열) */
#note_timeline {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(139, 173, 139);
  border-left: 5px solid black;
  padding: 10px 0px;
}

#timeline_title {
  font-size: 24px;
  padding: 10px;
}

#timeline_container {
  position: relative;
  flex: 1;
  padding: 0 20px;
}

.center_line::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 44px);
  width: 1px;
  background-color: #000;
}

#timeline_today {
  position: absolute;
  top: 50%;
}

#timeline_casement {
  position: absolute;
  left: 0px;
  top: 0%;
  z-index: 5;
  padding: 20px;
  font-size: 26px;
}

/* 본문 글 박스 */

.text_box {
  background-color: gainsboro;
  padding: 15px;
  margin: 10px 80px;
  border-radius: 10px;
}

/* 토글 애니메이션 */
@keyframes closeSection {
  from {
    min-width: 300px;
  }
  to {
    min-width: 70px;
  }
}

@keyframes openSection {
  from {
    min-width: 70px;
  }
  to {
    min-width: 300px;
  }
}

/* 노트 생성 */
#new_note_popup label {
  padding: 10px 0 5px 0;
}

#new_note_popup input[type="text"],
textarea {
  width: 450px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 0px;
}

#new_note_popup input[type="date"],
input[type="number"] {
  width: 130px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 10px;
  text-align: center;
}

#new_note_popup input[type="submit"] {
  background-color: rgb(10, 170, 200);
  color: white;
  padding: 10px 15px;
  margin: 20px 5px 0px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#new_note_popup input[type="submit"]:hover {
  background-color: rgb(10, 150, 180);
}

#new_note_popup {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  background-color: skyblue;
  padding: 20px;
}

#popup_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6;
}
